<body class="profile-page">


  <div class="wrapper">
    <app-topnav></app-topnav>
    <div class="header header-filter" style="background-image: url('assets/img/poultry-login.jpg'); background-size: cover; background-position: top center;">
    </div>
    <div class="main main-raised">
      <div class="profile-content">
        <div class="container">
          <div class="row row-bordered">
            <div class="col-sm-8 col-md-8 col-lg-8">
              <div id="Business_Directory_list">
                <div *ngFor="let newsSummary of newsList " class="row row-bordered">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="sidebar_list_inner">
                      <div class="image">
                        <img src={{newsSummary.thumbnail}} alt="image" class="img-responsive" alt={{newsSummary.title}} title={{newsSummary.title}} style='width:100%; max-height:150px' onerror='this.src="assets/img/logo.jpg"'
                        />
                      </div>

                      <div class="description">

                        <div class="caption">
                          <h2 > {{newsSummary.title}}</h2>
                        </div>

                        <p> {{newsSummary.shortDesc}} </p>
                        <p> <a    (click)="onNewsDetail(newsSummary)"  class="">Read more <i class="fa fa-angle-double-right"></i></a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 ">
              <app-adv-side></app-adv-side>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer>vikash</app-footer>
</body>
