
<!-- BEGIN navigation -->

<!-- END navigation -->
<!-- BEGIN wrapper -->
<div class="wrapper">
    <app-topnav></app-topnav>
  <!-- BEGIN header -->

 <h3><a _ngcontent-c3="" routerlink="/news" ng-reflect-router-link="/news" href="/news"    style=" margin-left: 50%;">News </a></h3> 
  <!-- END header -->
  <!-- BEGIN body -->
  <div id="body">
    <!-- BEGIN content -->
    <div id="content">
      <!-- begin recent post -->
      <div class="recent post"  style="background-color: antiquewhite;">
        <h2 class="title">Recent News</h2>
        <h2><a href="#">FVG SELECT 2017: INGREDIENTS FOR SUCCESS!</a></h2>
        <p>Font used for logo is Stencil. Cras ante eros. Erat vel. Donec vestibulum sed, vel euismod donec. Gravida scelerisque, ipsum sed iaculis, nunc non nam. Placerat sed phasellus, purus purus elit. Cras ante eros.</p>
        <img src="{{newsList[0].thumbnail}}" alt="" class="alignleft" />
        <p>Libero non, blandit blandit, sed odio lectus. Senectus donec, lacus scelerisque, vestibulum id tristique. Suspendisse ut dignissim. Etiam posuere netus, libero condimentum eu. Aenean a ut. Elit aliquet porttitor.</p>
        <p>A cras tincidunt, ut tellus et. Gravida scelerisque, ipsum sed iaculis, nunc non nam. Placerat sed phasellus, purus purus elit. Cras ante eros.</p>
        <p>A cras tincidunt, ut tellus et. Gravida scelerisque, ipsum sed iaculis, nunc non nam. Placerat sed phasellus, purus purus elit. Cras ante eros. Erat vel. Donec vestibulum sed, vel euismod donec.</p>
        <p>Cras ante eros. Erat vel. Donec vestibulum sed, vel euismod donec. Gravida scelerisque, ipsum sed iaculis, nunc non nam. Placerat sed phasellus, purus purus elit. Cras ante eros.</p>
      </div>
      <!-- end recent post -->
    





          <div *ngFor="let newsSummary of newsList " class="posts" style="background-color: antiquewhite;">
         




              <div class="post "  >
                  <p class="date">September 2017 , 2017</p>
                  <h2><a href="#" class="two-line-wrap">{{newsSummary.title}}</a></h2>
                  <img src={{newsList[0].thumbnail}} alt="image" class="img-responsive" alt={{newsSummary.title}} title={{newsSummary.title}} style='width:42%; max-height:150px' onerror='this.src="assets/img/logo.jpg"'
                  />
                  <p class="demo-1">{{newsSummary.shortDesc}}</p>

                  <p> <a    (click)="onNewsDetail(newsSummary)"  class="">Read more <i class="fa fa-angle-double-right"></i></a></p>
                </div>



            </div>

            <div  class="posts" style="background-color: antiquewhite;">   
            <div class="post "  >
              <p class="date">September 2017 , 2017</p>
              <h2><a href="#" class="two-line-wrap">{{newsList[0].title}}</a></h2>
              <img src={{newsList[0].thumbnail}} alt="image" class="img-responsive" alt={{newsList[0].title}} title={{newsList[0].title}} style='width:42%; max-height:150px' onerror='this.src="assets/img/logo.jpg"'
              />
              <p class="demo-1">{{newsList[0].shortDesc}}</p>

              <p> <a    (click)="onNewsDetail(newsList[0])"  class="">Read more <i class="fa fa-angle-double-right"></i></a></p>
            </div>
            </div>
            
          
              
             


        <!-- end post -->
       
    
    </div>
    <!-- END content -->
    <!-- BEGIN sidebar -->
    <div id="sidebar">
      <!-- begin Advertisement -->
      <div class="ads"> <a href="#"><img src="assets/images/ad125x125.jpg" alt="" /></a> <a href="#"><img src="images/ad125x125.jpg" alt="" /></a> <a href="#"><img src="images/ad125x125.jpg" alt="" /></a> <a href="#"><img src="images/ad125x125.jpg" alt="" /></a> </div>
      <!-- end Advertisement -->
      <!-- begin subscribe -->
      <h2>Subscribe Here</h2>
      <form class="subscribe" action="#">
        <a href="#">Subscribe via RSS Feed or</a>
        <input type="text" name="email" value="Enter E-mail Here.." />
        <button type="submit">Submit</button>
      </form>
      <!-- end subscribe -->
      <!-- begin popular posts -->
      <h2>Popular Posts</h2>
      <ul>
          <div *ngFor="let newsSummary of newsList " class=""  style="background-color: antiquewhite;" >
              <li><a href="#">{{newsSummary.title}}</a></li> 
          </div>
       
      </ul>
      <!-- end popular posts -->
      <!-- begin tags -->
      <h2>Tags</h2>
      <div class="tags"> </div>
      <!-- end tags -->
      <!-- BEGIN left -->
      <div class="l">
        <!-- begin categories -->
        <h2>Categories</h2>
        <div class="ads"> <a href="#"><img src="assets/images/ad125x125.jpg" alt="" /></a> <a href="#"><img src="images/ad125x125.jpg" alt="" /></a> <a href="#"><img src="images/ad125x125.jpg" alt="" /></a> <a href="#"><img src="images/ad125x125.jpg" alt="" /></a> </div>
        <ul>
      <!--    <li><a href="#">Entertainment</a></li>
          <li><a href="#">Fashion</a></li>
          <li><a href="#">Lifestyle</a></li>
          <li><a href="#">Parenting</a></li>
          <li><a href="#">Resources</a></li>
          <li><a href="#">Videos</a></li>-->
        </ul>
        <!-- end categories -->
        <!-- begin pages -->
        <h2>Pages</h2>
        <div class="ads"> <a href="#"><img src="assets/images/ad125x125.jpg" alt="" /></a> <a href="#"><img src="images/ad125x125.jpg" alt="" /></a> <a href="#"><img src="images/ad125x125.jpg" alt="" /></a> <a href="#"><img src="images/ad125x125.jpg" alt="" /></a> </div>
        <ul>
        <!--  <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Archives</a></li>
          <li><a href="#">Links</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Sitemap</a></li>-->
        </ul>
        <!-- end pages -->
      </div>
      <!-- END left -->
      <!-- BEGIN right -->

      <!-- END right -->
    </div>
    <!-- END sidebar -->
  </div>
  <!-- END body -->
  <div class="break"></div>
</div>
<div style="background-color:grey">
<app-footer>vikash</app-footer>
</div>
<!-- END wrapper -->
<!-- BEGIN footer -->

<!-- END footer -->

