.poultry_news_inner {
    background-color: #fff;
    border: 1px solid #cecece;
}

 .description {
    line-height: 22px;
    padding: 10px 10px;
    min-height: 130px;
    position: relative;
}


.poultry_news {
    color: #505050;
   /*background-image: url(../../images/latestnews.jpg); */
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
   
    margin-bottom: 0px;
    background-attachment: fixed;
}

.demo-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: left;
}