<div class="poultry_news">

	<div class="text-center wrap_title">
			<h3>
					<u><a  routerLink="/news" >Newssss </a></u>
				</h3>
	</div>
	<div class="row">

		<div class="col-sm-3 col-md-3 col-lg-3" *ngFor="let newsSummary of newsList ">
			<div class="poultry_news_inner">
				
				
				 <div style='width:100%; height:220px'>
					 <a (click)="onNewsDetail(newsSummary)">
	              <img src={{newsSummary.thumbnail}} alt="image" class="img-responsive" alt={{newsSummary.title}} title={{newsSummary.title}}  style='width:100%; max-height:220px' onerror='this.src="assets/img/Chicken1.jpg"'/></a>
				</div>
				  <h4 class="mar_t_0">
					<a (click)="onNewsDetail(newsSummary)" style="color: #9c27b0;" >{{newsSummary.title}}</a></h4>
				  <div class="description">
					<p class="demo-1">{{newsSummary.shortDesc}}</p>

				</div>
				<div class="date mar_b_10"><i class="fa fa-calendar-o"></i>{{newsSummary.createdDate}}</div>

			</div>
		</div>

	</div>
	<!--<a class="nav-link" routerLink="/news">More News</a> -->

	<!-- end row -->
</div>