
    <!-- Navigation -->
  

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <div ><img style="width:100%" src="https://s0.2mdn.net/6870931/1506800866069/image/OPPO-F3_DiwaliLimitedEdition_970x90.jpg"/></div>
      <h1 class="my-4">News
        <small></small>
      </h1>

      <div class="row">
        <div class="col-lg-3 col-md-6 portfolio-item">
          <div class="card" style="height:300px;    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1)),url(assets/news/2017/Oct/2.JPG) center center;background-position:center">
           <!-- <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt="" style="height: 300px;"></a>-->
            <div class="" >
              
              <a (click)="onNewsDetail(newsList[0])"> <h4 class="" style="color: white;width:83%;position:absolute;bottom:0;text-align: center;">{{newsList[0].title}}</h4></a> 
            </div>
          </div>
        </div>
       
          <div class="col-lg-4 col-md-6 portfolio-item">
            <div class="card" style="height:300px;    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1)),url(assets/news/2017/Oct/4.JPG) center center;background-position:center">
            <!--  <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt="" style="height: 300px;"></a>-->
              <div class="card-body" >
                
                <a (click)="onNewsDetail(newsList[1])"> <h4 class="" style="color: white;width:83%;position:absolute;bottom:0;text-align: center;">{{newsList[1].title}}</h4></a> 
              </div>
            </div>
          </div>
          
            <div class="col-lg-5 col-md-6 portfolio-item">
              <div class="card" style="height:300px;    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1)),url(assets/news/2017/Oct/5.JPG);">
               <!-- <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt="" style="height: 300px;"></a>-->
                <div class="card-body" >
                
                  <a (click)="onNewsDetail(newsList[2])"> <h4 class="" style="color: white;width:83%;position:absolute;bottom:0;text-align: center;">{{newsList[2].title}}</h4></a> 
                </div>
              </div>
            </div>
       <!-- <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Two</a>
              </h4>
              <h4 class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</h4>
            </div>
          </div>
        </div>-->
       <!-- <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Three</a>
              </h4>
              <h4 class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Four</a>
              </h4>
              <h4 class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Five</a>
              </h4>
              <h4 class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Six</a>
              </h4>
              <h4 class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</h4>
            </div>
          </div>
        </div>-->
     
      <div class="col-lg-4 col-md-6 portfolio-item">
        <div class="card" style="height:300px;background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1)),url(assets/news/2017/Oct/6.JPG) center center;">
         <!-- <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt="" style="height: 300px;"></a>-->
          <div class="card-body" >
            <h4 class="card-title mod" style="font-size: 1.9rem;">
            <!--  <a href="#">Project One</a>-->
            </h4>
         <a  (click)="onNewsDetail(newsList[3])" > <h4 class="" style="color: white;width:83%;position:absolute;bottom:0;text-align: center;">{{newsList[3].title}}</h4></a>  
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6 portfolio-item">
        <div class="card" style="height:300px;background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1)),url(assets/news/2017/Oct/7.JPG) center center;">
         <!-- <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt="" style="height: 300px;"></a>-->
          <div class="card-body" >
           
            <a  (click)="onNewsDetail(newsList[4])" > <h4 class="" style="color: white;width:83%;position:absolute;bottom:0;text-align: center;">{{newsList[4].title}}</h4></a> 
          </div>
        </div>
      </div>
        <div class="col-lg-3 col-md-6 portfolio-item">
          <div class="card" style="height:300px;background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1)),url(assets/news/2017/Oct/8.JPG) center center;">
          <!--  <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt="" style="height: 300px;"></a>-->
            <div class="card-body" >
              
              <a  (click)="onNewsDetail(newsList[5])" > <h4 class="" style="color: white;width:83%;position:absolute;bottom:0;text-align: center;">{{newsList[5].title}}</h4></a> 
            </div>
          </div>
        </div>
        
          
          </div>

          <div ><img style="width:100%" src="https://s0.2mdn.net/6870931/1506800866069/image/OPPO-F3_DiwaliLimitedEdition_970x90.jpg"/></div>
      <!-- /.row -->

      <!-- Pagination -->
    

    </div>
    <!-- /.container -->

   

    <!-- Bootstrap core JavaScript -->
   

 