<div class="col-md-12  text-center wrap_title ">
	<h3>
		<u><a routerLink="/articles-page">Articles ss</a></u>
	</h3>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="card-box">
			<div class="row">


				<div class="col-md-12">
					<div class="row">
						<div class="col-md-3" *ngFor="let articleSummary of articleList">
							<div class="thumbnail">
								<img src={{articleSummary.thumbnail}} alt="image" class="img-responsive" alt={{articleSummary.title}} title={{articleSummary.title}}
								 style='width:100%; height:400px' onerror='this.src="assets/img/punch-article-default.jpg"' />

								<div class="caption">
									<div ><h4 class="two-line-wrap">{{articleSummary.title}}</h4></div>
									<p class="demo-1">
										{{articleSummary.shortDesc}}
									</p>
									<p>
										<a  (click)="onArticleDetail(articleSummary)"  class="btn btn-primary waves-effect waves-light">More Detail</a>
									</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- end row -->