

    <!-- Navigation -->
   

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Articles
        <small></small>
      </h1>

      <div class="row">
        <div class="col-lg-4 portfolio-item" style="height: 347px;">
          <div class="card ">
              <div style="
              height: 45px;
              background-color: #f16407;
          "><h4 class="cust-head">Methionine Sources</h4></div>
          <div style="margin-top: 10px;">
            <div style="float:left; width:40%"><img _ngcontent-c11="" alt="img" class="thumb-lg m-r-15" style="width:90%" onerror="" src="assets/img/events/events4.png"></div>
            <div><h4 class="card-title">
                
              </h4></div>
          </div>
            <a ><img class="card-img-top" src="" alt=""></a>
            <div class="card-body">
              <h4 class="two-line-wrap">
                <a >{{articleList[0].title}}</a>
              </h4>
			  <p class="demo-1">
					{{articleList[0].shortDesc}}
				</p>
				<p>
						<a  (click)="onArticleDetail(articleList[0])"  class="btn btn-primary waves-effect waves-light">More Detail</a>
					</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 portfolio-item" style="height: 347px;">
            <div class="card">
                <div style="
                height: 45px;
                background-color: #7bb101;;
            "><h4 class="cust-head">Metabolisable Energy</h4></div>
            <div style="margin-top: 10px;">
              <div style="float:left; width:40%"><img _ngcontent-c11="" alt="img" class="thumb-lg m-r-15" style="width:90%" onerror="" src="assets/img/events/events5.png"></div>
              <div><h4 class="card-title">
                  
                </h4></div>
            </div>
              <a ><img class="card-img-top" src="" alt=""></a>
              <div class="card-body">
                <h4 class="two-line-wrap">
                  <a >{{articleList[1].title}}</a>
                </h4>
				<p class="demo-1">
						{{articleList[1].shortDesc}}
					</p>
					<p>
							<a  (click)="onArticleDetail(articleList[1])"  class="btn btn-primary waves-effect waves-light">More Detail</a>
						</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 portfolio-item" style="height: 347px;">
              <div class="card ">
                  <div style="
                  height: 45px;
                  background-color: #2B4FC5;
              "><h4 class="cust-head">EFFECT OF NUTRIKEM™ </h4></div>
              <div style="margin-top: 10px;"> 
                <div style="float:left; width:40%"><img _ngcontent-c11="" alt="img" class="thumb-lg m-r-15" style="width:90%" onerror="" src="assets/img/events/events6.png"></div>
                <div><h4 class="card-title">
                    
                  </h4></div>
              </div>
                <a ><img class="card-img-top" src="" alt=""></a>
			
						<div  class="card-body"><h4 class="two-line-wrap"><a >{{articleList[2].title}}</a></h4></div>
						<p class="demo-1">
							{{articleList[2].shortDesc}}
						</p>
						<p>
							<a  (click)="onArticleDetail(articleList[2])"  class="btn btn-primary waves-effect waves-light">More Detail</a>
						</p>
		
              </div>
            </div>
            <div class="col-lg-4 portfolio-item" style="height: 347px;">
                <div class="card">
                    <div style="
                    height: 45px;
                   
                    background-color: #da0005;
                "><h4 class="cust-head">LIGHT MANAGEMENT</h4></div>
                <div style="margin-top: 10px;">
                  <div style="float:left; width:40%"><img _ngcontent-c11="" alt="img" class="thumb-lg m-r-15" style="width:90%" onerror="" src="assets/img/events/events4.png"></div>
                  <div><h4 class="card-title">
                      
                    </h4></div>
                </div>
                  <a ><img class="card-img-top" src="" alt=""></a>
                  <div class="card-body">
                    <h4 class="two-line-wrap">
                      <a >	{{articleList[3].title}}</a>
                    </h4>
					<p class="demo-1">
							{{articleList[3].shortDesc}}
						</p>
						<p>
								<a  (click)="onArticleDetail(articleList[3])"  class="btn btn-primary waves-effect waves-light">More Detail</a>
							</p>
                  </div>
                </div>
        </div>
        <div class="col-lg-4 portfolio-item" style="height: 347px;">
          <div class="card ">
              <div style="
              height: 45px;
              background-color: #0270df;
          "><h4 class="cust-head">Role of vitamin E</h4></div>
          <div style="margin-top: 10px;">
            <div style="float:left; width:40%"><img _ngcontent-c11="" alt="img" class="thumb-lg m-r-15" style="width:90%" onerror="" src="assets/img/events/events5.png"></div>
            <div><h4 class="card-title">
                
              </h4></div>
          </div>
            <a ><img class="card-img-top" src="" alt=""></a>
            <div class="card-body">
              <h4 class="two-line-wrap">
                <a >{{articleList[4].title}}</a>
              </h4>
			  <p class="demo-1">
					{{articleList[4].shortDesc}}
				</p>
				<p>
						<a  (click)="onArticleDetail(articleList[0])"  class="btn btn-primary waves-effect waves-light">More Detail</a>
					</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 portfolio-item" style="height: 347px;">
            <div class="card">
                <div style="
                height: 45px;
                background-color: #cf5898;;
            "><h4 class="cust-head">POULTRY - BROILER</h4></div>
            <div style="margin-top: 10px;">
              <div style="float:left; width:40%"><img _ngcontent-c11="" alt="img" class="thumb-lg m-r-15" style="width:90%" onerror="" src="assets/img/events/events6.png"></div>
              <div><h4 class="card-title">
                  <a ></a>
                </h4></div>
            </div>
              <a ><img class="card-img-top" src="" alt=""></a>
              <div class="card-body">
                <h4 class="two-line-wrap">
                  <a >{{articleList[5].title}}</a>
                </h4>
				<p class="demo-1">
						{{articleList[5].shortDesc}}
					</p>
					<p>
							<a  (click)="onArticleDetail(articleList[1])"  class="btn btn-primary waves-effect waves-light">More Detail</a>
						</p>
              </div>
            </div>
          </div>
			  

			  
    
     
      </div>
      <!-- /.row -->

      <!-- Pagination -->
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link"  aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" >1</a>
        </li>
        <li class="page-item">
          <a class="page-link" >2</a>
        </li>
        <li class="page-item">
          <a class="page-link" >3</a>
        </li>
        <li class="page-item">
          <a class="page-link"  aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>

    </div>
    <!-- /.container -->

  

