	   <div class="col-md-12  text-center wrap_title ">
		   <h2><u ><a  style="color: #9c27b0;" href="" target="_blank">Articles Sib </a></u></h2>
		       </div>
 
  <div class="row"> 
				<div class="col-sm-12">
								<div class="card-box">
									<div class="row">
										<div class="col-md-4">
										
											<p class="text-muted m-b-30 font-13">
												Images in Bootstrap 3 can be made responsive-friendly via the addition of the <code>.img-responsive</code> 
												class. This applies <code>max-width: 100%;</code>, <code>height: auto;</code> and <code>display: block;</code> 
												to the image so that it scales nicely to the parent element.
											</p>
											
											<div class="row">
												<div class="col-sm-12">
													<img src="assets/images/big/img1.jpg" alt="image" class="img-responsive"/>
													
												</div>
											</div>
										</div>
										
										<div class="col-md-7 col-md-offset-1">
											<h4 class="m-t-0 header-title"><b>Thumbnail custom content</b></h4>
											<p class="text-muted m-b-30 font-13">
												By default, Bootstrap's thumbnails are designed to showcase linked images with minimal required markup.
											</p>
											
											<div class="row">
												<div class="col-md-4">
													<div class="thumbnail">
														<img src="assets/images/big/img3.jpg" class="img-responsive">
														<div class="caption">
															<h3>Thumbnail label</h3>
															<p>
																Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
															</p>
															<p>
																<a href="#" class="btn btn-primary waves-effect waves-light" role="button">Button</a>
																<a href="#" class="btn btn-default waves-effect waves-light m-l-5" role="button">Button</a>
															</p>
														</div>
													</div>
												</div>
												<div class="col-md-4">
													<div class="thumbnail">
														<img src="assets/images/big/img2.jpg" class="img-responsive">
														<div class="caption">
															<h3>Thumbnail label</h3>
															<p>
																Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
															</p>
															<p>
																<a href="#" class="btn btn-primary waves-effect waves-light" role="button">Button</a>
																<a href="#" class="btn btn-default waves-effect waves-light m-l-5" role="button">Button</a>
															</p>
														</div>
													</div>
												</div>
												<div class="col-md-4">
													<div class="thumbnail">
														<img src="assets/images/big/img1.jpg" class="img-responsive">
														<div class="caption">
															<h3>Thumbnail label</h3>
															<p>
																Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
															</p>
															<p>
																<a href="#" class="btn btn-primary waves-effect waves-light" role="button">Button</a>
																<a href="#" class="btn btn-default waves-effect waves-light m-l-5" role="button">Button</a>
															</p>
														</div>
													</div>
												</div>
											</div>
    
										</div>
									</div>
								</div>
							</div>
						</div> <!-- end row -->
