/*!
 * Start Bootstrap - 2 Col Portfolio (http://startbootstrap.com/template-overviews/2-col-portfolio)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-2-col-portfolio/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}
.mod{
  font-family: Roboto,sans-serif;
  color:#fff;
}
@media only screen and (min-width: 981px) {
      .a {
          /*...your desktop-only style...*/
          margin-top:-47%;
      }
      .b{
          /*...your desktop-only style...*/
          margin-top:-97%;
      }   
      .c{
          /*...your desktop-only style...*/
          margin-top:-38%;
      }
  } 
  @media only screen and (min-width: 300px)and( max-width: 980px ) {
      .abc {
          /*...your desktop-only style...*/
          margin-top:-33%;
      }
      
  } 
