<body class="profile-page">
  <div class="wrapper">
    <app-topnav></app-topnav>
   <!-- <div class="header header-filter" style="background-image: url('assets/img/poultry-login.jpg'); background-size: cover; background-position: top center;">
    </div>-->
    <div class="main">
      <div class="profile-content">
        <div class="container">
          <div class="row row-bordered">
            <div class="col-sm-8 col-md-8 col-lg-8" style="margin-top:10%">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  
                  <div class="featured_image">
                         
                    <div class="page-header mar_t_0">
                     <h2 class="mar_t_0"> <span >{{newsDetail.title}}</span></h2>
                      <h4 class="mar_t_0"> {{newsDetail.place}} :{{newsDetail.createdDate}} </h4>
                  </div>
                  <div class="card card-raised card-carousel">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                      <div class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
                          <div class="transparent-circle" (click)='setImageIndicators(0)' [style.background-color]="fillCircleOne()"></div>
                          <div class="transparent-circle" (click)='setImageIndicators(1)' [style.background-color]="fillCircleTwo()"></div>
                          <div class="transparent-circle" (click)='setImageIndicators(2)' [style.background-color]="fillCircleThree()"></div>
                          <div class="transparent-circle" (click)='setImageIndicators(3)' [style.background-color]="fillCircleFour()"></div>
                        </ol>
          
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <img src={{newsDetail.IMAGES[showImage].url}} class="img-responsive image-carousel" alt="">
                            <div class="carousel-caption">
                              <h4><i class="material-icons"></i></h4>
                            </div>
                          </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic">
                              <i class="material-icons"  (click)='prevImage()'>keyboard_arrow_left</i>
                            </a>
                        <a class="right carousel-control" href="#carousel-example-generic">
                              <i class="material-icons"  (click)='nextImage()'>keyboard_arrow_right</i>
                        </a>
                      </div>
                    </div>
                  </div>
                    
                     <div [innerHTML]="newsDetail.detailDesc"></div> 
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 ">
              <app-adv-side></app-adv-side>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <app-footer>vikash</app-footer>
</body>
