<body class="profile-page">
  <div class="wrapper">
    <app-topnav></app-topnav>
   <!-- <div class="header header-filter" style="background-image: url('assets/img/poultry-login.jpg'); background-size: cover; background-position: top center;">
    </div>-->
    <div class="main">
      <div class="profile-content">
        <div class="container">
          <div class="row row-bordered">
            <div class="col-sm-8 col-md-8 col-lg-8" style="margin-top:10%">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  
                  <div class="featured_image">
                         
                    <div class="page-header mar_t_0">
                     <h2 class="mar_t_0"> <span >{{newsDetail.title}}</span></h2>
                      <h4 class="mar_t_0"> {{newsDetail.place}} :{{newsDetail.createdDate}} </h4>
                  </div>
                  <div *ngIf="isSimple">
                    <img src={{newsDetail.simpleImageUrl}} alt="image" class="img-responsive" alt={{newsDetail.title}} title={{newsDetail.title}}
                    />
                  </div>
                    
                     <div [innerHTML]="newsDetail.detailDesc"></div> 
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 ">
              <app-adv-side></app-adv-side>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <app-footer>vikash</app-footer>
</body>
