<nav class="navbar navbar-transparent  navbar-fixed-top navbar-color-on-scroll" style="background-color: #9c27b0;color: #ffffff">
    	<div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
				</button>

         <a class="navbar-brand"  href="#">
			 <div class="logo-container">
	                <div class="logo">
	                    <img src="assets/img/logo.jpg" alt="Poultry Punch" rel="tooltip" title="Poultry Punch" data-placement="bottom" data-html="true">
	                </div>
	                <div class="brand">
	                    Poultry Punch
	                </div>


				</div>
				
			</a>
			</div>

        	<div class="collapse navbar-collapse" id="navigation-example">
        		<ul class="nav navbar-nav navbar-right">
    						<li>
    					<a class="nav-link"  routerLink="/news" >News</a>
    				</li>
					<li><a  routerLink="/articles-page">Articles</a></li>
					<li><a  routerLink="/events">Events</a></li>
					<li><a class="nav-link"  routerLink="/editor">Editor's Message</a></li>
					<li><a class="nav-link" routerLink="/aboutus">About Us</a></li>
					<li><a class="nav-link"  href="#contact">Contact</a></li>
					<li><a class="nav-link"  routerLink="/login" >Login Test</a></li>
		            <li>
		                <a href="https://twitter.com/CreativeTim" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-twitter"></i>
						</a>
		            </li>
		            <li>
		                <a href="https://www.facebook.com/CreativeTim" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-facebook-square"></i>
						</a>
		            </li>
					<li>
		                <a href="https://www.instagram.com/CreativeTimOfficial" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-instagram"></i>
						</a>
		            </li>
        		</ul>
        	</div>
    	</div>
	</nav>
	<style>
	.intro-header {
	height: 100%; /* Full PAge */
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 50px;
	color: #f8f8f8;
	background: url(../img/home-page.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
}

.navbar-default {
	position: relative;
	min-height: 60px;
	width: 100%;
	z-index: 999;
	
}
.nav-link {
	position: relative;
	min-height: 60px;
	width: 100%;
	z-index: 999;
	
}
.navbar-default .navbar-nav>li>a {
color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover {
color: #ECEBEB;
}

.navbar-default .navbar-brand {
color: #ffffff;
}
.navbar-default .navbar-brand:hover {
color: #ECEBEB;
}
.intro-message {
	position: relative;
	padding-top: 12%;
	padding-bottom: 20%;
}


.intro-message > h1 {
	margin: 0;
	font-size: 5em;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	letter-spacing: 3px;
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
	margin: 0;
	font-size: 2.8em;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0px;
	margin-top: 10px;
}
/* Button */ 
.mybutton_standard {
	border: 1px solid #fff;
	color: #fff;
}

.mybutton_cyano{
	border: 1px solid #4A90BE;
	color: #fff;
	background-color:#4A90BE;
}

.mybutton_cyano:hover{
	border: 1px solid #4A90BE;
	color: #4A90BE !important;
	background: rgba(204, 204, 204, 0);
}

.network-name {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1.5px;
}
p.copyright {
	margin: 15px 0 0;
}

@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	ul.intro-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
		h1, .h1 {
			font-size: 50px;
		}
		
		h3, .h3 {
			font-size: 20px;
		}
		
}


/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.intro-header {
			height: 100%;
			padding-top: 50px;
			padding-bottom: 50px;
			color: #f8f8f8;
		    background-image: none; 
			background-size: cover;
			text-align: center;
			background-color: #34495e;
		}
		
		h1, .h1 {
			font-size: 50px;
		}
		
		h3, .h3 {
			font-size: 20px;
		}
		#gallery1{display:none}
		
		.button_down {display:none}
		
		
	}
	
	
	
	.content-section-a {
	background-color: #f8f8f8;
	padding: 20px 0; 
	border-bottom: 1px solid #32465A;
	border-top: 1px solid #32465A;
}



.content-section-c {
	border-top: 1px solid #32465A;
	border-bottom: 1px solid #32465A;
	background-color: #34495e;
	padding: 20px 0;
}
/*================== Added By Me */



.main {
  background: #FFFFFF;
  position: relative;
  z-index: 3;
}

.main-raised {
  margin: -60px 30px 0px;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

    margin-left: 10px;
    margin-right: 10px;
}


.landing-page .header {
  height: 100vh;
}
.landing-page .header .container {
  padding-top: 26vh;
  color: #FFFFFF;
}
.landing-page .header .share {
  margin-top: 150px;
}
.landing-page .header h1 {
  font-weight: 600;
}
.landing-page .header .title {
  color: #FFFFFF;
}
.landing-page .wrapper {
  background: #CCCCCC;
}

@media (max-width: 991px) {
  .landing-page .header {
    height: auto;
    min-height: 100vh;
  }
  .landing-page .header .container {
    padding-bottom: 70px;
  }
}
	</style>
