

    <!-- Navigation -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    

 
    
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div  class="logo-container" style="width:10%">
            
            
      
      </div>
      <div class="container">
          <div class="logo-container">
              <div class="logo" style="margin-left:30%">
                  <img src="assets/img/logo.jpg" alt="Poultry Punch" rel="tooltip" title="Poultry Punch" data-placement="bottom" data-html="true">
              </div>
            


    </div>
        <!--<button  (click)="clicked($event)" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"  >

          <span class="navbar-toggler-icon"></span>
        </button>-->
     <!--   <div style="float:left;width:20%">
        <a class="navbar-brand"  href="#">
            <div class="logo-container">
                       <div class="logo">
                           <img src="assets/img/logo.jpg" alt="Poultry Punch" rel="tooltip" title="Poultry Punch" data-placement="bottom" data-html="true">
                       </div>
                       <div class="brand">
                           Poultry Punch
                       </div>
      
      
             </div>
             
           </a>
          </div>-->
          
        <button  style="    margin-left: auto;"type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
  </button>

 
       

      <!--  <div class=" navbar-collapse" id="navbarResponsive">-->
         <!-- <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="" href="#">Contact</a>
            </li>
          </ul>-->
         
          <div class="collapse navbar-collapse navcst" id="navigation-example" style="margin-left:10%">
        	<!--	<ul class="nav navbar-nav navbar-right">-->
            	<ul class="navbar-nav">
                  <li class="navMob">
                      <a class="" style="padding-right: 2.8rem;font-weight: 500;               font-size: 14px;font-weight: 500;               font-size: 14px;    text-transform: none;font-weight: 500;
                      font-size: 14px;    text-transform: none;"  routerLink="/#" >Home</a>
                    </li>
    						<li class="navMob" >
    					<a class="" style="padding-right: 2.8rem;font-weight: 500;               font-size: 14px;font-weight: 500;               font-size: 14px;    text-transform: none;font-weight: 500;
              font-size: 14px;    text-transform: none;"  routerLink="/news" >News</a>
    				</li>
					<li class="navMob" ><a class=""   style="padding-right: 2.8rem;font-weight: 500;               font-size: 14px;font-weight: 500;               font-size: 14px;    text-transform: none;"  routerLink="/articles-page">Articles</a></li>
					<li class="navMob" ><a  class=""  style="padding-right: 2.8rem;font-weight: 500;               font-size: 14px;font-weight: 500;               font-size: 14px;    text-transform: none;"  routerLink="/events">Events</a></li>
					<li class="navMob" ><a class=""  style="padding-right: 2.8rem;font-weight: 500;               font-size: 14px;font-weight: 500;               font-size: 14px;    text-transform: none;" routerLink="/editor">Editor's Message</a></li>
					<li class="navMob" ><a class="" style="padding-right: 2.8rem;font-weight: 500;               font-size: 14px;font-weight: 500;               font-size: 14px;    text-transform: none;" routerLink="/aboutus">About Us</a></li>
					<li class="navMob" ><a class="" style="padding-right: 2.8rem;font-weight: 500;               font-size: 14px;font-weight: 500;               font-size: 14px;    text-transform: none;"  href="#contact">Contact</a></li>
					<li class="navMob" ><a class=""  style="padding-right: 2.8rem;font-weight: 500;               font-size: 14px;font-weight: 500;               font-size: 14px;    text-transform: none;" routerLink="/login" >Login</a></li>
		            <li>
		                <a href="https://twitter.com/CreativeTim" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-twitter"></i>
						</a>
		            </li>
		            <li>
		                <a href="https://www.facebook.com/CreativeTim" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-facebook-square"></i>
						</a>
		            </li>
					<li>
		                <a href="https://www.instagram.com/CreativeTimOfficial" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-instagram"></i>
						</a>
		            </li>
        		</ul>
        	</div>
       <!-- </div>-->
        
      </div> 
    </nav>

   <!-- <header class="masthead" style="background-image: url('assets/img/Chicken1.jpg')">
      <div class="overlay">
        <div class="container">
          <h1 class="display-1 text-white"></h1>
          <h2 class="display-4 text-white">Pollutry Punch</h2>
        </div>
      </div>
    </header>-->

   <!-- <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 order-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="https://unsplash.it/500/500?image=836" alt="">
            </div>
          </div>
          <div class="col-md-6 order-1">
            <div class="p-5">
              <h2 class="display-4">For those about to rock...</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="https://unsplash.it/500/500?image=452" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="p-5">
              <h2 class="display-4">We salute you!</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 order-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="https://unsplash.it/500/500?image=453" alt="">
            </div>
          </div>
          <div class="col-md-6 order-1">
            <div class="p-5">
              <h2 class="display-4">Let there be rock!</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
            </div>
          </div>
        </div>
      </div>
    </section>-->

    <!-- Footer -->
    <!--<footer class="py-5 bg-dark">-->
   <!--   <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>-->
      <!-- /.container -->
   <!-- </footer>-->

    <!-- Bootstrap core JavaScript -->


    <!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom" style=" opacity: 1;">
      <div style="height: 100px;">
         <app-adv-side></app-adv-side>
      </div>
    </nav>-->
    <footer class="py-5 bg-#bdb9b9">
        <!--   <div class="container">
             <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
           </div>-->
           <!-- /.container -->
         </footer>
    

