<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<nav class="navbar navbar-transparent  navbar-fixed-top navbar-color-on-scroll" style="background-color: #9c27b0;color: #ffffff">
    	<div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
				</button>

         <a class="navbar-brand"  href="#">
			 <div class="logo-container">
	                <div class="logo">
	                    <img src="assets/img/logo.jpg" alt="Poultry Punch" rel="tooltip" title="Poultry Punch" data-placement="bottom" data-html="true">
	                </div>
	                <div class="brand">
	                    Poultry Punch
	                </div>


				</div>
				
			</a>
			</div>

        	<div class="collapse navbar-collapse" id="navigation-example">
        		<ul class="nav navbar-nav navbar-right">
    						<li>
    					<a class="nav-link"  routerLink="/news" >News</a>
    				</li>
					<li><a  routerLink="/articles-page">Articles</a></li>
					<li><a  routerLink="/events">Events</a></li>
					<li><a class="nav-link"  routerLink="/editor">Editor's Message</a></li>
					<li><a class="nav-link" routerLink="/aboutus">About Us</a></li>
					<li><a class="nav-link"  href="#contact">Contact</a></li>
					<li><a class="nav-link"  routerLink="/login" >Login</a></li>
		            <li>
		                <a href="https://twitter.com/CreativeTim" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-twitter"></i>
						</a>
		            </li>
		            <li>
		                <a href="https://www.facebook.com/CreativeTim" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-facebook-square"></i>
						</a>
		            </li>
					<li>
		                <a href="https://www.instagram.com/CreativeTimOfficial" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-instagram"></i>
						</a>
		            </li>
        		</ul>
        	</div>
    	</div>
    </nav>
