<body class="profile-page">


  <div class="wrapper">
    <app-topnav></app-topnav>
  <!--  <div class="header header-filter" style="background-image: url('assets/img/poultry-login.jpg'); background-size: cover; background-position: top center;">
    </div>-->
    <div class="main">
      <div class="profile-content">
        <div class="container">
          <div class="row row-bordered">
            <div class="col-sm-8 col-md-8 col-lg-8">
              <div class="card-box m-b-10" *ngFor="let event of eventList ">










                  <div class=" col-md-6 col-lg-6 portfolio-item" style="height:250px;overflow: scroll;" >
                      <div class=" ">
                          <div class="{{event.sib}}" style="
                          height: 35px;
                         
                          margin-top:10%;
                      "><h4 class="cust-head" style="     font-size: 14px;
                      font-weight: 500;
                        ">Feed</h4></div>
                      <div style="margin-top: 10px;">
                        <div style="float:left; width:30%"> <img src="{{event.thumbnailId}}" alt="img"  style="width:100%" class="img-circle thumb-lg m-r-15" onerror='this.src="assets/img/events/event-default.png"' /></div>
                       
                      </div>
                        <a href="#"><img class="card-img-top" src="" alt=""></a>
                        <div class="table-detail">
                            <div class="member-info">
                              <h4 class="m-t-0"><b>{{event.title}}</b></h4>
                              <p class="text-dark m-b-5"><b>Date: </b> <span class="text-muted">{{event.dateOfEvent}}</span></p>
                              <p class="text-dark m-b-5"><b>Venue: </b> <span class="text-muted">{{event.venue}}</span></p>
                            </div>
                          </div>
                      </div>
                    </div>




















                <!--<div class="table-box opport-box">
                  <div class="table-detail">
                    <img src="{{event.thumbnailId}}" alt="img" class="img-circle thumb-lg m-r-15" onerror='this.src="assets/img/events/event-default.png"' />
                  </div>

                  <div class="table-detail">
                    <div class="member-info">
                      <h4 class="m-t-0"><b>{{event.title}}</b></h4>
                      <p class="text-dark m-b-5"><b>Date: </b> <span class="text-muted">{{event.dateOfEvent}}</span></p>
                      <p class="text-dark m-b-5"><b>Venue: </b> <span class="text-muted">{{event.venue}}</span></p>
                    </div>
                  </div>
                </div>-->
              </div>
            
            </div>
        
            <div class="col-sm-4 col-md-4 col-lg-4 ">
              <app-adv-side></app-adv-side>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer>vikash</app-footer>
</body>
