<body class="profile-page">


  <div class="wrapper">
    <app-topnav></app-topnav>
   <!-- <div class="header header-filter" style="background-image: url('assets/img/poultry-login.jpg'); background-size: cover; background-position: top center;">
    </div>-->
    <div class="main">
      <div class="profile-content">
        <div class="container">
          <div class="row row-bordered">
          
            <div class="col-lg-8 portfolio-item" style="overflow:scroll">
              <div class="card ">
                  <div style="
                  height: 45px;
                  background-color: coral;
                  margin-top:25px;
                  color:whitesmoke;
                  
              "><h5 style="font-weight: 900;">Events</h5></div>
             
                <a href="#"><img class="card-img-top" src="" alt=""></a>
                <div class="card-box m-b-10" *ngFor="let event of eventList ">
                  <div class="table-box opport-box">

                    <div style="width: 100%;">
                    <div class="table-detail" style="width: 29%;
                    float: left;">
                      <img src="{{event.thumbnailId}}" alt="img" style="width:78%" class="img-circle thumb-lg m-r-15" onerror='this.src="assets/img/events/event-default.png"' />
                    </div>
  
                    <div class="table-detail">
                      <div class="member-info">
                        <h4 class="m-t-0"><b>{{event.title}}</b></h4>
                        <p class="text-dark m-b-5"><b>Date: </b> <span class="text-muted">{{event.dateOfEvent}}</span></p>
                        <p class="text-dark m-b-5"><b>Venue: </b> <span class="text-muted">{{event.venue}}</span></p>
                      </div>
                    </div>
                  </div>


                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 ">
              <app-adv-side></app-adv-side>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer>vikash</app-footer>
</body>
