<body class="profile-page">
	<div class="wrapper">
		<app-topnav></app-topnav>
		<!--<div class="header header-filter" style="background-image: url('assets/img/poultry-login.jpg'); background-size: cover; background-position: top center;">
		</div>-->
		<div class="main">
			<div class="profile-content">
				<div class="container">
					<div class="row row-bordered">
						<div class="col-sm-12 col-md-12 col-lg-12 div-font-setting" style="text-align: left;font-size:14px;">
							<div class="title">
								<h3></h3>
							</div>
							<p></p>
							<p>We take pleasure to introduce ourselves as Poultry Punch incorporated in 1984 and we are in poultry media since last 34 years and publish Poultry Punch (Monthly English magazine). We have extensive circulation of around 14,000 monthly magazine throughout India, SAARC &amp; Gulf countries. This is the only poultry magazine with such a colossal readership base. We have a long range of advertisers, who have benefited immensely in their business by being associated with us. These advertisers encompass pharmaceuticals, poultry equipment manufacturers, feed manufacturers, Processing companies, raw material suppliers and integrators, etc.</p>
							<p></p>
							<p>                     We also have a sister publication by the name of &ndash;Poultry Manch, which is a Hindi monthly magazine and has extensive circulation throughout India but more concentrated in the Hindi speaking and understanding belt of India. These states include: Uttar Pradesh, Uttarakhand, Madhya Pradesh, Chattisgarh, Jharkhand, Bihar, Delhi, Punjab, Haryana, Rajasthan etc.</p>
							<p>                    Ours is the only poultry magazine in India that comprises 96 pages and boasts of exhaustive inclusion of news and articles. The news mainly caters to the happenings in the Indian subcontinent and also includes from the Asian and global region. The articles are specifically related to various aspects of poultry production and are authored by poultry experts and the language is easy to understand even by the common man.</p>
							<p>                    We also publish write up, interviews of different poultry companies and prominent poultry figures from time to time. We extend our loyal support to our advertisers and authors in every possible way. A far as quality is concerned, we strictly abide by quality published material, while the paper and print quality is also exceptional. Our magazine depicts the best presentation in every term and hence it is the top ranking poultry magazine in India. We have maintained a strong battery of correspondents across India who pour in news at our office.</p>
							<p>                    In our aspiration to promote poultry knowledge in India we have also published a Poultry Directory, Books on Poultry Disease and Applied Broiler Production etc.</p>
							<p>                    The company management is totally dedicated to the cause of poultry upliftment not only in India but globally as well. In this endeavour, our management supports and attends different poultry events organized in India and foreign countries. To understand and work at the grass root levels, we work in close co ordination with diverse poultry associations and highlight their problems and appreciate their achievements. </p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center">
							<div class="section text-center">
							<div class="title">
								<h3>Team</h3>
							</div>
							
	                

					<div class="team">
						<div class="row">
							<div class="col-md-4" style="text-align: center">
			                    <div class="team-player">
			                        <img src="assets/img/team/ceo.jpg" alt="Thumbnail Image" class="img-raised img-circle">
			                        <h4 class="title">Mr B S Rana <br />
										<small class="text-muted">Editor & Publisher</small>
									</h4>
			                        <p class="description ">He started his own poultry publication in 1974. He is the founder member and associated with Poultry India exhibition since last 10 years. He is also the member of Exhibition Advisory Committee (EAC) of Poultry India exhibition</p>
									<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
									<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-instagram"></i></a>
									<a href="#pablo" class="btn btn-simple btn-just-icon btn-default"><i class="fa fa-facebook-square"></i></a>
			                    </div>
			                </div>
			                <div class="col-md-4" style="text-align: center">
			                    <div class="team-player">
			                        <img src="assets/img/team/vikash.jpg" alt="Thumbnail Image" class="img-raised img-circle">
			                        <h4 class="title">Mr Pankaj Rana<br />
										<small class="text-muted">Marketing Director</small>
									</h4>
			                        <p class="description">Mr Pankaj Rana is the Marketing Director of the company. He takes care of the Marketing in the North and Eastern region of India</p>
									<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
									<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-linkedin"></i></a>
			                    </div>
			                </div>
			                <div class="col-md-4" style="text-align: center">
			                    <div class="team-player">
			                        <img src="assets/img/team/Mam.jpg" alt="Thumbnail Image" class="img-raised img-circle">
			                        <h4 class="title">Mrs Indra Rana<br />
										<small class="text-muted">Director Communications</small>
									</h4>
			                        <p>Mrs Indra Rana is Director Communications and manages the day to day communications at various platforms</p>
									<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-google-plus"></i></a>
									<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-youtube-play"></i></a>
									<a href="#pablo" class="btn btn-simple btn-just-icon btn-default"><i class="fa fa-twitter"></i></a>
			                    </div>
			                </div>
						</div>
					</div>

	            </div>

						</div>




					</div>
				</div>
			</div>
		</div>

	</div>
	<app-footer>vikash</app-footer>

</body>