<section id="about-us" class="parallax" style="background-image: url('/dist/assets/img/about-bg1.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading text-center about-info wow fadeInUp " data-wow-duration="1000ms" data-wow-delay="300ms" style="padding-bottom:10px;">
          <h2>About <b>Poultry Punch</b></h2>
          <p>We take pleasure to introduce ourselves as Poultry Punch incorporated in 1984 and we are in poultry media since last 34
				years and publish Poultry Punch (Monthly English magazine). We have extensive circulation of around 14,000 monthly magazine
				throughout India, SAARC &amp; Gulf countries. This is the only poultry magazine with such a colossal readership base.
				We have a long range of advertisers, who have benefited immensely in their business by being associated with us. These
				advertisers encompass pharmaceuticals, poultry equipment manufacturers, feed manufacturers, Processing companies, raw
				material suppliers and integrators<a href="/aboutus">Read More</a> </p>
        </div>
      </div>
      <div class="col-sm-12" style="margin-top:35px;">
        <div class="text-center">
          <div class="row">
            <div class="col-sm-offset-2 col-sm-2 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="service-icon">
                <a href="/aboutus#what-we-do"><img src="/images/whatwedo1.png" height=50></a>
              </div>
              <div class="service-info">
               <!-- <h3>What we do</h3>-->
              </div>
            </div>
            <div class="col-sm-2 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
              <div class="service-icon">
                <a href="/aboutus#how-we-do" style="color:white"> <i class="fa fa-cogs"></i> </a>
              </div>
              <div class="service-info">
             <!--   <h3>How we do</h3>-->
              </div>
            </div>    
            <div class="col-sm-2 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
              <div class="service-icon">
                <a href="/aboutus#who-we-are"><img src="/images/whoweare1.png" height=50></a>
              </div>
              <div class="service-info">
               <!-- <h3>Who we are</h3>-->
              </div>
            </div>
          <div class="col-sm-2 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
            <div class="service-icon">
              <a href="/client" style="color:white">  <i class="fa fa-users"></i></a>
            </div>
            <div class="service-info">
           <!--   <h3>Our Clients</h3>-->
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
  </div>
</section>