<div class="row">
					 
	<div class="col-md-8 col-md-offset-2">
	                        <h2 class="title">Who we are </h2>
	                        <h5 class="lead">We take pleasure to introduce ourselves as Poultry Punch incorporated in 1984 and we are in poultry media since last 34
				years and publish Poultry Punch (Monthly English magazine). We have extensive circulation of around 14,000 monthly magazine
				throughout India, SAARC &amp; Gulf countries. This is the only poultry magazine with such a colossal readership base.
				We have a long range of advertisers, who have benefited immensely in their business by being associated with us. These
				advertisers encompass pharmaceuticals, poultry equipment manufacturers, feed manufacturers, Processing companies, raw
				material suppliers and integrators</h5>
	                    </div>
	                </div>

