
.header-filter {
  position: relative;
}
.header-filter:after {
  position: inherit;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
}
.header-filter .container {
  z-index: 2;
  position: relative;
  
}


.landing-page .header {
  height: 100vh;
}
.landing-page .header .container {
  padding-top: 26vh;
  color: #FFFFFF;
}
.landing-page .header .share {
  margin-top: 150px;
}
.landing-page .header h1 {
  font-weight: 600;
}
.landing-page .header .title {
  color: #FFFFFF;
}
.landing-page .wrapper {
  background: #CCCCCC;
}



.landing-page .header {
  height: 100vh;
}
.landing-page .header .container {
  padding-top: 26vh;
  color: #FFFFFF;
}
.landing-page .header .share {
  margin-top: 150px;
}
.landing-page .header h1 {
  font-weight: 600;
}
.landing-page .header .title {
  color: #FFFFFF;
}
.landing-page .wrapper {
  background: #CCCCCC;
}

.profile-page .header {
  height: 380px;
  background-position: top center;
}
.profile-page .profile {
  text-align: center;
}
.profile-page .profile img {
  max-width: 160px;
  margin: -80px auto 0;
}
.profile-page .description {
  margin: 30px auto 0;
  max-width: 600px;
}
.profile-page .profile-tabs {
  margin-top: 60px;
}
.profile-page .gallery {
  margin-top: 45px;
  padding-bottom: 50px;
}
.profile-page .gallery img {
  width: 100%;
  margin-bottom: 30px;
}

.signup-page .wrapper > .header {
  min-height: 100vh;
}
.signup-page .wrapper .card-signup {
  margin: 160px 0 40px;
}
.signup-page .footer .copyright,
.signup-page .footer a {
  color: #FFFFFF;
}



@media (max-width: 991px) {
  .landing-page .header {
    height: auto;
    min-height: 100vh;
  }
  .landing-page .header .container {
    padding-bottom: 70px;
  }
}


.wrapper > .header {
  min-height: 300px;
  background-position: center center;
  background-size: cover;
}

.img-container{
    height:100%;
    max-height:200px;
}

#Business_Directory_list{padding:0px;  }
#Business_Directory_list .sidebar_list_inner{ border-bottom:1px solid #ddd; margin-bottom:20px; min-height:120px}
#Business_Directory_list .sidebar_list_inner:last-child{border-bottom:0px solid #ddd; margin-bottom:00px;   }
#Business_Directory_list hr:last-child{ display:none;}
#Business_Directory_list .image{ float:left; width:100px; border:1px solid #ddd;}
#Business_Directory_list .image + .description{ margin-left:120px;}
#Business_Directory_list .image + .description h3{font-family: 'open_sansregular'; font-size:13px; line-height:20px; margin:0px 0px 5px; font-weight:normal; text-transform:none;}
#Business_Directory_list .image + .description h2 a{ position:relative;}
#Business_Directory_list .image + .description h2 a span::after{ content:""; position: absolute;  display:inline-block; width:100px; height:35px; top:0px; }
#Business_Directory_list  .date i{ color:#e3614b;}
.row-bordered:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 0 15px;
}
.demo-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: left;
}

.two-line-wrap {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


.page-header{ background-color:transparent; margin:0px 0px 20px 0px; padding:15px 0px 15px 0px; border:0px; text-transform:uppercase}
.page-header h1{margin:0px; font-size:22px; color:#373435}
.page-header span{ border-bottom:2px solid #ffd52c; padding:0px 15px 5px; display:inline-block}
.page-header h2{margin:0px; font-size:22px; color:#373435}
.mar_t_0{ margin-top:0px;}


.content{ line-height:24px;padding:15px 15px 15px 15px; background-color:#f5f5f5; color:#505050; margin-bottom:40px; clear:both;}
.content .page-header{ margin:10px 0px 30px 0px; padding:0px; border:0px; }
.content .page-header span{ padding-left:0px;}
.content a{ color:#ac5101; }
.content hr{ clear:both; overflow:hidden;}
.content .pull-left.img{ margin-right:20px;}
.content ul.list-style1{ margin:10px 0px 0px 0px; padding:0px; list-style:none;}
.content ul.list-style1 li{ padding:5px 0px 5px 20px; position:relative}
.content ul.list-style1 li:before{content:"\f0da";display: inline-block;font-family: 'FontAwesome';font-size:16px;font-weight: normal;position: absolute;left:0px;top: 5px; color:#ac5101;}

.content .featured_image{ position:relative;}
.content .featured_image .caption{ position:absolute; bottom:0px; background-color:rgba(0,0,0,0.5); padding:5px; color:#fff; width:100%;}




.title{
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
}


.logo-container .logo{
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333333;
    width: 50px;
    float: left;
}

.logo-container .brand{
    font-size: 16px;
    color: #FFFFFF;
    line-height: 18px;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    width: 70px;
    height: 40px;
    text-align: left;
}
  .logo-container .brand-material{
    font-size: 18px;
    margin-top: 15px;
    height: 25px;
    width: auto;
}
.logo-container .logo img{
    width: 100%;
}

.navbar-default.navbar-small .logo-container .brand{
    color: #333333;
}
.navbar-transparent.navbar-small .logo-container .brand{
    color: #FFFFFF;
}
.navbar-default.navbar-small .logo-container .brand{
    color: #333333;
}

.div-font-setting{
  font-size : 18px;
}
.menu-cust-bar1{
  background-color: #DB0404;
}
.menu-cust-bar2{
  background-color:#ff9800;
}
.menu-cust-bar3{
  background-color: #009688;
}
.menu-cust-bar4{
  background-color:#673ab7;
}
.menu-cust-bar5{
  background-color: #3C3F4B;
}
.menu-cust-bar6{
  background-color:#607d8b;
}
  .cust-head{
    align-items: baseline;
    /* margin-left: -69%; */
    float: left;
    
    color: white;
    margin-left: 4%;
    text-transform: uppercase;
  }
  .mobView{
    margin-top: 0%;
       }
  
  @media (max-width: 992px) {
    .ad-hide{
      display: none;
        }
  }

  .menuchide{
    display:none;
  }
  .menucshow{
    display:block;
  }

  @media (max-width: 572px) {
    .navcst{
     margin-left: 10%;
        }
  }
  @media (max-width: 572px) {
    .mobView{
     margin-top: 14%;
        }
  }
  .mobViewNews{
    margin-top: 0%;
       }

       @media (max-width: 572px) {
        .mobViewNews{
         margin-top: 14%;
            }
      }

      @media (max-width: 572px) {
        .mobViewHide{
        display:none;
            }
            .mobdisp{
              width:100% !important;
                         }
            
      }
      @media (max-width: 572px) {
            .mobShift{
              margin-left:0% !important;
             width:100% !important;
             padding: 15px !important;
            }
            .navMob{
              width: 83% !important;
              height: 36px !important;
              margin-top: 2%!important;
              /* border: .5px solid!important; */
              /* background-color: #3e322e!important; */
              box-shadow: 1px;
              border-bottom: .5px solid #716d6d;
            }
      }
      
        