
<body class="profile-page">
  <div class="wrapper">
    <app-topnav></app-topnav>
  <!-- <div class="header header-filter" style="background-image: url('../../assets/img/poultry-login.jpg'); background-size: cover; background-position: top center;">
    </div>-->
    <div class="main main-raised">
      <div class="profile-content" >
        <div class="container">
          <div class="row row-bordered">
            <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: left">
              <div class="title">
                <h3>{{editorTitle}}</h3>
			  </div>
			<div [innerHTML]="editorText"></div> 
            </div>
		   </div>
        </div>
      </div>
    </div>
  </div>

 <app-footer>vikash</app-footer>

</body>
