<div class="section" id="carousel">
		<h1 style="font-size: 36px;font-weight:400">Events
        <small></small>
      </h1>
  <div class="container-fluid">
		
    <div class="row">
		
			<div class="col-md-5">
					
							<div class="card-box m-b-10">
							  <div class="table-box opport-box">
								<div class="table-detail">
								  <img src="assets/img/events/events1.png" alt="img" class="img-circle thumb-lg m-r-15" />
								</div>
					
								<div class="table-detail">
								  <div class="member-info">
									<h4 class="m-t-0"><b>SPACE 2017 </b></h4>
									<p class="text-dark m-b-5"><b>Date: </b> <span class="text-muted">September 12, 2017 to September 15, 2017</span></p>
									<p class="text-dark m-b-5"><b>Venue: </b> <span class="text-muted">Parc Expo of Rennes Airport Rennes - Bretagne – France</span></p>
								  </div>
								</div>
							  </div>
							</div>
					
							
							<div class="card-box m-b-10">
									<div class="table-box opport-box">
									  <div class="table-detail">
										<img src="assets/img/events/events2.png" alt="img" class="img-circle thumb-lg m-r-15" />
									  </div>
						  
									  <div class="table-detail">
										<div class="member-info">
										  <h4 class="m-t-0"><b>CLFMA of INDIA </b></h4>
										  <p class="text-dark m-b-5"><b>Date: </b> <span class="text-muted">15th & 16th September 2017</span></p>
										  <p class="text-dark m-b-5"><b>Venue: </b> <span class="text-muted">JW Marriott Mumbai Sahar, Near International Airport at Mumbai, Maharashtra, INDIA</span></p>
										</div>
									  </div>
									</div>
								  </div>
					
					
							<!--<div class="row"  *ngFor="let advertise of advertiseHomeScreen">
										 <img class="image-carsoul-adv" src={{advertise.imageUrl}} alt={{advertise.title}} class="img-responsive image-advertise">
									</div>-->
						  </div>
      <div class="col-md-7">
        <!-- Carousel Card -->
        <div class="card card-raised card-carousel">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <div class="transparent-circle" (click)='setImageIndicators(0)' [style.background-color]="fillCircleOne()"></div>
                <div class="transparent-circle" (click)='setImageIndicators(1)' [style.background-color]="fillCircleTwo()"></div>
                <div class="transparent-circle" (click)='setImageIndicators(2)' [style.background-color]="fillCircleThree()"></div>
                <div class="transparent-circle" (click)='setImageIndicators(3)' [style.background-color]="fillCircleFour()"></div>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="{{images[showImage].url}}" class="img-responsive image-carousel" alt="">
                  <div class="carousel-caption">
                    <h4><i class="material-icons"></i> Caption Can be gives</h4>
                  </div>
                </div>
              </div>
              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic">
										<i class="material-icons"  (click)='prevImage()'>keyboard_arrow_left</i>
									</a>
              <a class="right carousel-control" href="#carousel-example-generic">
										<i class="material-icons"  (click)='nextImage()'>keyboard_arrow_right</i>
							</a>
            </div>
          </div>
        </div>
      </div>
   
    </div>
  </div>
</div>
