
.transparent-circle {
  background-color: rgba(204, 0, 102, 0);
  border: 1px solid #000;
  height: 25px;
  width: 25px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  display: inline-block;
  border: 2px solid white;
}
.transparent-circle:hover{
  background-color: white;
  cursor: pointer;
}
.circlesContainer{
  text-align: center;
  position: relative;
  bottom: 115px;
}

  @media (max-width: 900px) {
      .carousel{
        max-height: 500px;
      }
  }
  @media (max-width: 760px) {
    .carousel{
      max-height: 400px;
    }
  }
  @media (max-width: 575px) {
    .container{
      width: auto;
    }
  }
  @media (max-width: 600px){
    .circlesContainer{
      display: none;
    }
  }

  @media (min-width: 500px) and (max-width: 760px) {
    .arrowContainer{
      position: relative;
      top: -250px;
    }
  }


.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.image-carousel{
     max-height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;

}
  .image-advertise{
     max-height: 250px;
    width: 100%;
    background-position: center;
    background-size: cover;

}