<section id="contact" style="background-image:  url('/dist/assets/img/clients1.jpg');" >
  <div id="contact-us" class="parallax" style="padding-bottom:60px;">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms" style="padding-top:60px;padding-bottom:30px;">
          <h2>Contact Us</h2>
          <p>Use the form below to drop us an e-mail and we will get in touch with you soon.</p>
        </div>
      </div>
      <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
          <div class="col-sm-6">
            <form id="main-contact-form" name="contact-form" method="post">
              <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Name" required="required">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email Address" required="required">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="subject" class="form-control" placeholder="Subject" required="required">
              </div>
              <div class="form-group">
                <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required="required"></textarea>
              </div>                        
              <div class="form-group">
                <button type="submit" class="btn-submit" style="background-color:#C52727">Send Now</button>
              </div>
            </form>   
          </div>
          <div class="col-sm-6">
            <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
              <p>POULTRY PUNCH PUBLICATIONS (I) Pvt. Ltd.</p>
              <address>
				  <h3>Office Location</h3>
						<p class="lead">
					25 Thyag Raj Nagar Market <br> New Delhi, 1100003
						<br><i class="fa fa-phone"></i> Phone: 9312700599<br>
						<i class="fa fa-envelope"></i>Email:	ppunch@rediffmail.com<br>ppunch25@gmail.com<br>
						<i class="fa fa-mobile"></i> Mobile: 7838602297<br>
						</p>
				  </address>
			  <ul>
				  <li class="social"><a href="#">
						<i class="fa fa-facebook-square  fa-3x p-y-1"> </i></a> 
						<a href="#"><i class="fa  fa-twitter-square  fa-3x p-y-1"> </i> </a> 
						
			  </ul>


            </div>                            
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="wow fadeIn" >
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13863.633224063286!2d76.996089!3d29.693437999999997!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x90dd5047074add7c!2sBenison+Media+-+Think+Grain+Think+Feed+Magazine!5e0!3m2!1sen!2sin!4v1449601112254" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>	
</section>