<body>
    <!-- Begin page -->
    <div class="wrapper">
        <dashboard-leftsidebar-cmp></dashboard-leftsidebar-cmp>
        <div class="main-panel">
            <dashboard-topbar-cmp></dashboard-topbar-cmp>
            <div class="content" style="background: white">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">

                            <h4 class="m-t-0 m-b-30 header-title"><b>Title</b></h4>
                            <input id="input" type="text" size="30">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">

                            <h4 class="m-t-0 m-b-30 header-title"><b>Date</b></h4>
                            <input type="date" name="bday">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="m-t-0 m-b-30 header-title"><b>Thumbnail</b></h4>
                            <p-fileUpload  name="demo[]"  customUpload="true" accept="image/*" maxFileSize="1000000" (uploadHandler)="onUpload($event)"></p-fileUpload>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <h4 class="m-t-0 m-b-30 header-title"><b>News Content Type</b></h4>
                            <select class="form-control select2" [(ngModel)]="selectedOption">
                    <option>Select</option>
                     <option value="SIMPLE_TEXT">Simple Text</option>
                     <option value="SIMPLE_TEXT_IMAGE">Simple Text With One Image</option>
                      <option value="COMPLEX">Complex</option>
                                            </select>


                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                                <h4 class="m-t-0 m-b-30 header-title"><b>Short Desc</b></h4>
                      
                        <textarea ></textarea>
                        </div>

                    </div>
                    <div class="row">
                                          
                        <div [ngSwitch]="selectedOption">
                            <div *ngSwitchCase="'SIMPLE_TEXT'">
                                
                            </div>

                            <div *ngSwitchCase="'SIMPLE_TEXT_IMAGE'">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="first">Main Image</h3>
                                        <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
                                    </div>
                                </div>
                                
                            </div>

                            <div *ngSwitchCase="'COMPLEX'">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="first">Upload Files</h3>
                                        <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)" multiple="multiple" accept="image/*" maxFileSize="1000000">
                                            <ng-template pTemplate="content">
                                                <ul *ngIf="uploadedFiles.length">
                                                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes </li>
                                                    <li> </li>
                                                </ul>
                                            </ng-template>

                                        </p-fileUpload>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="row">
                                    <div class="col-md-12">
                                        <br/> <br/> Here Mai 
                                        <textarea id="{{elementId}}"></textarea>
                                    </div>
                                </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>