
    <div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
        <!--
		        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

		        Tip 2: you can also add an image using data-image tag
		    -->

        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
					Creative Tim
				</a>
        </div>

        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="active">
                    <a href="dashboard.html">
	                        <i class="material-icons">dashboard</i>
	                        <p>Dashboard</p>
	                    </a>
                </li>
                <li>
                    <a routerLink="news" routerLinkActive="active">
	                        <i class="material-icons">person</i>
	                        <p>User Profile</p>
	                    </a>
                </li>
                <li>
                    <a href="table.html">
	                        <i class="material-icons">content_paste</i>
	                        <p>Table List</p>
	                    </a>
                </li>
                <li>
                    <a href="#menu3" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i>
	                       <p>Articles</p>
                        </a>
                    <div class="collapse" id="menu3">
                        <a routerLink="admin-article-add" class="list-group-item" data-parent="#menu3">List Article</a>
                        <a routerLink="admin-article-add" class="list-group-item" data-parent="#menu3">Add Article</a>
                    </div>
                </li>
                <li>
                    <a href="#menu4" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-newspaper-o"></i>
	                       <p>News</p>
                        </a>
                    <div class="collapse" id="menu4">
                        <a routerLink="admin-news-add" class="list-group-item" data-parent="#menu4">List News</a>
                        <a routerLink="admin-news-add" class="list-group-item" data-parent="#menu4">Add News</a>
                    </div>
                </li>

                <!--  This is refernce Menu -> SubMenu -> SubMenu Items
                      <li>       
               <!--  <a href="#menu3" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i> <span class="hidden-sm-down">Item 3 </span></a>
                <div class="collapse" id="menu3">
                    <a href="#" class="list-group-item" data-parent="#menu3">3.1</a>
                    <a href="#menu3sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">3.2 </a>
                    <div class="collapse" id="menu3sub2">
                        <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 a</a>
                        <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 b</a>
                        <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 c</a>
                    </div>
                    <a href="#" class="list-group-item" data-parent="#menu3">3.3</a>
                </div>
                    </li> -->
                <li>
                    <a href="typography.html">
	                        <i class="material-icons">library_books</i>
	                        <p>Typography</p>
	                    </a>
                </li>
                <li>
                    <a href="icons.html">
	                        <i class="material-icons">bubble_chart</i>
	                        <p>Icons</p>
	                    </a>
                </li>
                <li>
                    <a href="maps.html">
	                        <i class="material-icons">location_on</i>
	                        <p>Maps</p>
	                    </a>
                </li>
                <li>
                    <a href="notifications.html">
	                        <i class="material-icons text-gray">notifications</i>
	                        <p>Notifications</p>
	                    </a>
                </li>
                <li class="active-pro">
                    <a href="upgrade.html">
	                        <i class="material-icons">unarchive</i>
	                        <p>Upgrade to PRO</p>
	                    </a>
                </li>
            </ul>
        </div>
    </div>

   