<div class="row top-buffer">
  <div class="carsoul  col-sm-12 col-md-12 col-lg-12">
    <div id="carousel-example-captions" data-ride="carousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-captions" data-slide-to="1"></li>
        <li data-target="#carousel-example-captions" data-slide-to="2"></li>
        <li data-target="#carousel-example-captions" data-slide-to="3"></li>
      </ol>

      <div role="listbox " class="carousel-inner">
        <div class="item active ">
          <img class="image-carsoul-adv" src="assets/images/big/img2.jpg" alt="First slide image">
          <div class="carousel-caption">
            <h3 class="text-white font-600">First slide label</h3>
            <p>
              Nulla vitae elit libero, a pharetra augue mollis interdum.
            </p>
          </div>
        </div>

        <div class="item" *ngFor="let advertise of advertiseCrowsel">
          <img class="image-carsoul-adv" src={{advertise.imageUrl}} alt={{advertise.title}}>
          <div class="carousel-caption">
            <h3 class="text-white font-600">{{advertise.title}}</h3>
            <p>
              {{advertise.shortDesc}}
            </p>
          </div>
        </div>
      </div>
      <a href="#carousel-example-captions" role="button" data-slide="prev" class="left carousel-control"> <span aria-hidden="true" class="fa fa-angle-left"></span> <span class="sr-only">Previous</span> </a>
      <a href="#carousel-example-captions" role="button" data-slide="next" class="right carousel-control"> <span aria-hidden="true" class="fa fa-angle-right"></span> <span class="sr-only">Next</span> </a>
    </div>
  </div>
</div>
<div class="row top-buffer">
  <div class=" col-sm-12 col-md-12 col-lg-12">
    <img src={{advertiseOne.imageUrl}} alt="image" class="img-responsive" />

  </div>
</div>-->
