<body>
    <!-- Begin page -->
    <div class="wrapper">
        <dashboard-leftsidebar-cmp></dashboard-leftsidebar-cmp>
        <div class="main-panel">
            <dashboard-topbar-cmp></dashboard-topbar-cmp>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="orange">
                                    <i class="material-icons">content_copy</i>
                                </div>
                                <div class="card-content">
                                    <p class="category">Used Space</p>
                                    <h3 class="title">49/50<small>GB</small></h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>