<div class="container">

<!-- NavBar-->
	<!-- Fixed navbar -->
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Poultry siba Punch</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
	  
	  	<li class="nav-item"><a class="nav-link"  href="#news">News</a></li>
				<li class="nav-item"><a class="nav-link" href="#articles">Articles</a></li>
				<li class="nav-item"><a class="nav-link" href="#events">Events</a></li>
			<li class="nav-item"><a class="nav-link" href="#aboutus">About Us</a></li>
				<li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
				<li class="nav-item"><a  class="nav-link" routerLink="/login">Login T</a></li>
	  
     </ul>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
		<home-carousel></home-carousel>
	<!-- NavBar-->
	
	<!-- News is -->
	<div id="news" class="container content-section-a" style="border-top: 0">
	     <home-news-section></home-news-section>
	</div>


		<!-- article is -->
	<div id="articles" class="container" style="border-top: 0">
		
							<home-articles-section></home-articles-section>
	</div>


	<div class="content-section-c">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 offset-md-3 text-md-center text-white">
					<h2>Get Live Updates</h2>
					<p class="lead" style="margin-top: 0">Poultry having news  .</p>
				</div>
				<div class="col-md-6 offset-md-3 text-md-center">
					<div class="mockup-content">
						<div
							class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
							<button type="button ">
								<span>Subscribe to our Newsletter</span>
							</button>
							<div class="morph-content">
								<div>
									<div class="content-style-form content-style-form-4 ">
										<h2 class="morph-clone">Subscribe to our Newsletter</h2>
										<form>
											<p>
												<label>Your Email Address</label><input type="text" />
											</p>
											<p>
												<button>Subscribe me</button>
											</p>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>

<div id="aboutus" class="content-section-a">
		<div class="container">
			<home-aboutus-section></home-aboutus-section>
		</div>
	</div>

	<!-- Contact -->
	<div id="contact" class="content-section-a">
		<div class="container">
			<home-contactus-section></home-contactus-section>
		</div>
	</div>

</div>

<app-footer>vikash</app-footer>