	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>

	<!-- FullScreen -->
	<div class="intro-header">
		<div class="col-xs-12 text-center abcen1">
			<h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">Poultry Punch</h1>
			<h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">News Publish</h3>
			<ul class="list-inline intro-social-buttons">
				<li><a href="https://twitter.com/galantiandrea"
					class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span
						class="network-name">Twitter</span></a></li>
				<li id="download"><a href="#contact"
					class="btn  btn-lg mybutton_standard wow swing wow fadeIn"
					data-wow-delay="1.2s"><span class="network-name">Contact
							Us</span></a></li>
			</ul>
		</div>
		<!-- /.container -->
		<div class="col-xs-12 text-center abcen wow fadeIn">
			<div class="button_down ">
				<a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"
					href="#news"> <img class="img_scroll"
					src="../../assets/img/icon/circle.png" alt="">
				</a>
			</div>
		</div>
	</div>
	<!-- NavBar-->
	<!-- Fixed navbar -->
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Fixed navbar</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
		
	<!-- NavBar-->
	<div class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			 <button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
<!-- 			<a class="navbar-brand" href="#home">Chandro</a> -->
<br>
			<img src="../../assets/img/p-logo.jpg"
				class="img-responsive img-rounded"	alt="image" width="250" height="50" />
		</div>

		<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
			<ul class="nav navbar-nav">

				<li class="menuItem"><a href="#news">News</a></li>
				<li class="menuItem"><a href="#team">Article</a></li>
				<li class="menuItem"><a href="#adv">Advertise</a></li>
			
				<li class="menuItem"><a href="#contact">Contact</a></li>
				<li class="menuItem"><a href="${root}/school/login">Login Test</a></li>
			</ul>
		</div>

	</div>
	</div>
	<!-- News is -->
	<div id="news" class="content-section-b" style="border-top: 0">
		<div class="container">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>News</h2>
				<p class="lead" style="margin-top: 0">We always have some news.</p>

			</div>

			<div class="row">
				<div class="media">
						<div class="media-left">
						<a href="#"> <img class="media-object img-circle" alt="64x64" src="assets/img/icon/news.jpg" style="width: 64px; height: 64px;"> </a>
						</div>
				<div class="media-body">
				<h4 class="media-heading">Media heading</h4>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			</div>
		  </div>
	<div class="row">
				<div class="media">
						<div class="media-left">
						<a href="#"> <img class="media-object img-circle" alt="64x64" src="assets/img/icon/news.jpg" style="width: 64px; height: 64px;"> </a>
						</div>
				<div class="media-body">
				<h4 class="media-heading">Media heading 2</h4>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			</div>
		  </div>

	</div>
			<!-- /.row -->
		</div>
	</div>

		<!-- article is -->
	
							<div class="col-sm-12">
								<div class="card-box">
									<div class="row">
										
										
										<div class="col-md-7 col-md-offset-1">
											<h4 class="m-t-0 header-title"><b>Thumbnail custom content</b></h4>
											<p class="text-muted m-b-30 font-13">
												By default, Bootstrap's thumbnails are designed to showcase linked images with minimal required markup.
											</p>
											
											<div class="row">
												<div class="col-md-4">
													<div class="thumbnail">
														<img src="assets/images/big/img11.jpg" class="img-responsive">
														<div class="caption">
															<h3>Thumbnail label</h3>
															<p>
																Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
															</p>
															<p>
																<a href="#" class="btn btn-primary waves-effect waves-light" role="button">Button</a>
																<a href="#" class="btn btn-default waves-effect waves-light m-l-5" role="button">Button</a>
															</p>
														</div>
													</div>
												</div>
												<div class="col-md-4">
													<div class="thumbnail">
														<img src="assets/images/big/img11.jpg" class="img-responsive">
														<div class="caption">
															<h3>Thumbnail label</h3>
															<p>
																Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
															</p>
															<p>
																<a href="#" class="btn btn-primary waves-effect waves-light" role="button">Button</a>
																<a href="#" class="btn btn-default waves-effect waves-light m-l-5" role="button">Button</a>
															</p>
														</div>
													</div>
												</div>
												<div class="col-md-4">
													<div class="thumbnail">
														<img src="assets/images/big/img11.jpg" class="img-responsive">
														<div class="caption">
															<h3>Thumbnail label</h3>
															<p>
																Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
															</p>
															<p>
																<a href="#" class="btn btn-primary waves-effect waves-light" role="button">Button</a>
																<a href="#" class="btn btn-default waves-effect waves-light m-l-5" role="button">Button</a>
															</p>
														</div>
													</div>
												</div>
											</div>
    
										</div>
									</div>
								</div>
							</div>
						</div> <!-- end row -->


	<!-- Use it -->

	<!-- Use it -->



	<div class="content-section-a">

		<div class="container">

			<div class="row">

				<div class="col-sm-6 pull-right wow fadeInRightBig">
					<img class="img-responsive "
						src="${root}/static/styles/chandro/img/doge.png" alt="">
				</div>

				<div class="col-sm-6 wow fadeInLeftBig" data-animation-delay="200">
					<h3 class="section-heading">Font Awesome & Glyphicon</h3>
					<p class="lead">A special thanks to Death to the Stock Photo
						for providing the photographs that you see in this template.</p>

					<ul class="descp lead2">
						<li><i class="glyphicon glyphicon-signal"></i> Reliable and
							Secure Platform</li>
						<li><i class="glyphicon glyphicon-refresh"></i> Everything is
							perfectly orgainized for future</li>
						<li><i class="glyphicon glyphicon-headphones"></i> Attach
							large file easily</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
	

	<!-- Screenshot -->
	<div id="screen" class="content-section-b">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center wrap_title ">
					<h2>Screen App</h2>
					<p class="lead" style="margin-top: 0">A special thanks to
						Death.</p>
				</div>
			</div>
			<div class="row wow bounceInUp">
				<div id="owl-demo" class="owl-carousel">

					<a href="${root}/static/styles/chandro/img/slide/1.png"
						class="image-link">
						<div class="item">
							<img class="img-responsive img-rounded"
								src="${root}/static/styles/chandro/img/slide/1.png"
								alt="Owl Image">
						</div>
					</a> <a href="${root}/static/styles/chandro/img/slide/2.png"
						class="image-link">
						<div class="item">
							<img class="img-responsive img-rounded"
								src="${root}/static/styles/chandro/img/slide/2.png"
								alt="Owl Image">
						</div>
					</a> <a href="${root}/static/styles/chandro/img/slide/3.png"
						class="image-link">
						<div class="item">
							<img class="img-responsive img-rounded"
								src="${root}/static/styles/chandro/img/slide/3.png"
								alt="Owl Image">
						</div>
					</a> <a href="${root}/static/styles/chandro/img/slide/1.png"
						class="image-link">
						<div class="item">
							<img class="img-responsive img-rounded"
								src="${root}/static/styles/chandro/img/slide/1.png"
								alt="Owl Image">
						</div>
					</a> <a href="${root}/static/styles/chandro/img/slide/2.png"
						class="image-link">
						<div class="item">
							<img class="img-responsive img-rounded"
								src="${root}/static/styles/chandro/img/slide/2.png"
								alt="Owl Image">
						</div>
					</a> <a href="${root}/static/styles/chandro/img/slide/3.png"
						class="image-link">
						<div class="item">
							<img class="img-responsive img-rounded"
								src="${root}/static/styles/chandro/img/slide/3.png"
								alt="Owl Image">
						</div>
					</a>
				</div>
			</div>
		</div>


	</div>

	<div class="content-section-c ">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center white">
					<h2>Get Live Updates</h2>
					<p class="lead" style="margin-top: 0">CHANDRO providing auto updates in Website and App.</p>
				</div>
				<div class="col-md-6 col-md-offset-3 text-center">
					<div class="mockup-content">
						<div
							class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
							<button type="button ">
								<span>Subscribe to our Newsletter</span>
							</button>
							<div class="morph-content">
								<div>
									<div class="content-style-form content-style-form-4 ">
										<h2 class="morph-clone">Subscribe to our Newsletter</h2>
										<form>
											<p>
												<label>Your Email Address</label><input type="text" />
											</p>
											<p>
												<button>Subscribe me</button>
											</p>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			>
		</div>
	</div>

	<!-- Team -->
	<div id="team" class="content-section-b" style="border-top: 0">
		<div class="container">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Team</h2>
				<p class="lead" style="margin-top: 0">
					IF U WANT TO SHINE LIKE A SUN FIRST BURN LIKE A SUN. <br> <font
						size="2"> -Dr. APJ Abdul kalam</font>
				</p>

			</div>

			<div class="row">

				<div class="col-sm-4 wow fadeInDown text-center">
					<img src="${root}/static/styles//chandro/img/custom/sunil3.png"
						alt="image" class=" img-circle" width="128" height="128" />
					<h3>Dr. Sunil Choudhary</h3>
					<p class="lead">CEO & CFO <br> Govt. Hospital, Ganganagar</p>

					<!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div>
				<!-- /.col-lg-4 -->

				<div class="col-sm-4 wow fadeInDown text-center">
					<%-- <img class="rotate"
						src="${root}/static/styles/chandro/img/icon/picture.svg"
						alt="Generic placeholder image"> --%>
					<img src="${root}/static/styles//chandro/img/custom/sunilp2.jpg"
						alt="image" class=" img-circle" width="128" height="128" />
					<h3>Sunil Panghal</h3>
					<p class="lead">COO <br> Hitachi Payments Payments,Gurgaon.</p>
					<!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div>
				<!-- /.col-lg-4 -->

				<div class="col-sm-4 wow fadeInDown text-center">
					<img src="${root}/static/styles/chandro/img/custom/d.png"
						alt="image" class="rotate img-circle" width="128" height="128" />
					<h3>Parmod Kumar</h3>
					<p class="lead">CTO <br> Self Employee.</p>
					<!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div>
				<!-- /.col-lg-4 -->

			</div>
			<!-- /.row -->
		</div>
	</div>


	<!-- Contact -->
	<div id="contact" class="content-section-a">
		<div class="container">
			<div class="row">

				<div class="col-md-6 col-md-offset-3 text-center wrap_title">
					<h2>Contact Us</h2>
					<p class="lead" style="margin-top: 0">A special thanks for Contact.</p>
				</div>

				<form role="form" action="" method="post">
					<div class="col-md-6">
						<div class="form-group">
							<label for="InputName">Your Name</label>
							<div class="input-group">
								<input type="text" class="form-control" name="InputName"
									id="InputName" placeholder="Enter Name" required> <span
									class="input-group-addon"><i
									class="glyphicon glyphicon-ok form-control-feedback"></i></span>
							</div>
						</div>

						<div class="form-group">
							<label for="InputEmail">Your Email</label>
							<div class="input-group">
								<input type="email" class="form-control" id="InputEmail"
									name="InputEmail" placeholder="Enter Email" required> <span
									class="input-group-addon"><i
									class="glyphicon glyphicon-ok form-control-feedback"></i></span>
							</div>
						</div>

						<div class="form-group">
							<label for="InputMessage">Message</label>
							<div class="input-group">
								<textarea name="InputMessage" id="InputMessage"
									class="form-control" rows="5" required></textarea>
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-ok form-control-feedback"></i></span>
							</div>
						</div>

						<input type="submit" name="submit" id="submit" value="Submit"
							class="btn wow tada btn-embossed btn-primary pull-right">
					</div>
				</form>

				<hr class="featurette-divider hidden-lg">
				<div class="col-md-5 col-md-push-1 address">
					<address>
						<h3>Office Location</h3>
						<p class="lead">
							<a
								href="https://www.google.com/maps/preview?ie=UTF-8&q=The+Pentagon&fb=1&gl=us&hq=1400+Defense+Pentagon+Washington,+DC+20301-1400&cid=12647181945379443503&ei=qmYfU4H8LoL2oATa0IHIBg&ved=0CKwBEPwSMAo&safe=on">West
								Rajiv Nagar <br> Gurgaon, 122002
							</a><br> Phone: 8285055301<br>
							help@chandro.in
						</p>
					</address>

					<h3>Social</h3>
					<li class="social"><a href="#"><i
							class="fa fa-facebook-square fa-size"> </i></a> <a href="#"><i
							class="fa  fa-twitter-square fa-size"> </i> </a> <a href="#"><i
							class="fa fa-google-plus-square fa-size"> </i></a> <a href="#"><i
							class="fa fa-flickr fa-size"> </i> </a></li>
				</div>
			</div>
		</div>
	</div>



	<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				
				<p>2017@Poultry Punch</p>

			</div>
			
		</div>
	</div>
	</footer>
