<body class="landing-page">
	<app-topnav></app-topnav>

	<div class="wrapper profile-page">
		<div class="header header-filter" style="background: url(https://blackrockdigital.github.io/startbootstrap-new-age/img/bg-pattern.png),linear-gradient(to left,#8312ce,#dc2430);">;
		
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h3 class="title">POULTRY PUNCH PUBLICATIONS (I) Pvt. Ltd.</h3>

						<br/>

					</div>
					
				</div>
			</div>
		</div>
		<div class="main main-raised">
			<div class="container-fluid">
				<div class="section text-center section-landing">
					<!-- NavBar-->

					<!-- News is -->
					<div id="news" class="container" style="border-top: 0">
						
						<home-news-section></home-news-section>
						
					</div>
				<!-- article is -->
					<div id="articles " class="container" style="border-top: 0 ">

						<home-articles-section></home-articles-section>
					</div>
				
					<div id="aboutus" >
						<home-aboutus-section></home-aboutus-section>
					</div>
						<div id="adv " class="container" style="border-top: 0 ">
								<!--<div class="">
										<h3>
												<u><a  routerLink="/events" >Events </a></u>
											</h3>
								</div>-->
						<home-carousel></home-carousel>
					</div>
					
					<!-- Contact -->
					<div id="contact " >
					<div class="container-fluid ">
							<home-contactus-section></home-contactus-section>
					 </div>
					</div>
				</div>

			</div>




		</div>
		<div style="background-color:grey">
			<app-footer>vikash</app-footer>
			</div>
	</div>
</body>