<footer class="footer">
	        <div class="container">
	            <nav class="pull-left">
	                <ul>
	                    	<li><a  href="#aboutus">About Us</a></li>
					<li><a  href="#contact">Contact</a></li>
	                </ul>
	            </nav>
	            <div class="copyright pull-right">
	                &copy; 2017,  <i class="fa fa-heart heart"></i> Poultry Punch
	            </div>
	        </div>
	    </footer>
