
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      
          <!-- Custom styles for this template -->
          <link href="css/2-col-portfolio.css" rel="stylesheet">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Page Heading
        <small>Secondary Text</small>
      </h1>

      <div class="row">
        <div class="col-lg-3 portfolio-item">
          <div class="card" style="height:300px; background-image:url('https://electionsdata.ndtv.com/images/homepage/download(22)_636422332399141046.jpg')">
           <!-- <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt="" style="height: 300px;"></a>-->
            <div class="card-body" >
              <h4 class="card-title">
                <a href="#">Project One</a>
              </h4>
              <p class="card-text mod">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
       
          <div class="col-lg-4 portfolio-item">
            <div class="card" style="height:300px; background-image:url('https://i.ndtvimg.com/i/2017-09/yashwant-sinha_190x253_51506602251.jpg')">
            <!--  <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt="" style="height: 300px;"></a>-->
              <div class="card-body" >
                <h4 class="card-title">
                  <a href="#">Project One</a>
                </h4>
                <p class="card-text mod">Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </div>
          
            <div class="col-lg-5 portfolio-item">
              <div class="card" style="height:300px; background-image:url('https://i.ndtvimg.com/i/2017-09/pakistan-china-air-force-drill-twitter_650x400_51506599679.jpg')">
               <!-- <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt="" style="height: 300px;"></a>-->
                <div class="card-body" >
                  <h4 class="card-title">
                    <a href="#">Project One</a>
                  </h4>
                  <p class="card-text mod">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                </div>
              </div>
            </div>
       <!-- <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Two</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</p>
            </div>
          </div>
        </div>-->
       <!-- <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Three</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Four</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Five</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Six</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</p>
            </div>
          </div>
        </div>-->
      </div>
      <div class="row">
      <div class="col-lg-4 portfolio-item">
        <div class="card" style="height:300px; background-image:url('https://electionsdata.ndtv.com/images/homepage/download(22)_636422332399141046.jpg')">
         <!-- <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt="" style="height: 300px;"></a>-->
          <div class="card-body" >
            <h4 class="card-title">
              <a href="#">Project One</a>
            </h4>
            <p class="card-text mod">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-5 portfolio-item">
        <div class="card" style="height:300px; background-image:url('https://i.ndtvimg.com/i/2017-09/pakistan-china-air-force-drill-twitter_650x400_51506599679.jpg')">
         <!-- <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt="" style="height: 300px;"></a>-->
          <div class="card-body" >
            <h4 class="card-title">
              <a href="#">Project One</a>
            </h4>
            <p class="card-text mod">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
        <div class="col-lg-3 portfolio-item">
          <div class="card" style="height:300px; background-image:url('https://i.ndtvimg.com/i/2017-09/yashwant-sinha_190x253_51506602251.jpg')">
          <!--  <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt="" style="height: 300px;"></a>-->
            <div class="card-body" >
              <h4 class="card-title">
                <a href="#">Project One</a>
              </h4>
              <p class="card-text mod">Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
        </div>
        
          
          </div>
      <!-- /.row -->

      <!-- Pagination -->
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<style>
  .mod{
    font-family: Roboto,sans-serif;
    color:#fff;
  }
  @media only screen and (min-width: 981px) {
        .a {
            /*...your desktop-only style...*/
            margin-top:-47%;
        }
        .b{
            /*...your desktop-only style...*/
            margin-top:-97%;
        }   
        .c{
            /*...your desktop-only style...*/
            margin-top:-38%;
        }
    } 
    @media only screen and (min-width: 300px)and( max-width: 980px ) {
        .abc {
            /*...your desktop-only style...*/
            margin-top:-33%;
        }
        
    } 
</style>
 